{% extends 'base.html' %}


{% block content %}

{% if team %}
{% for t in team %}
<div class="team-card card text-center" style="width: 22rem;">
    <img src="{{t.front_shiny}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">{{t.name.title()}}!</h2>
        <p class="card-text">Ability : {{t.ability.title()}} </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Base HP : {{t.base_hp}}</li>
            <li class="list-group-item">Base Attack : {{t.base_atk}}</li>
            <li class="list-group-item">Base Defense : {{t.base_def}}</li>
        </ul>
    </div>
</div>
{% endfor %}
{% else %}
<div class="no-team card bg-danger text-white" style="width: 22rem;">
    <img src="{{url_for('static', filename='sad-pikachu.jpeg')}}"
        class="card-img-top" alt="empty ball">
    <div class="card-body">
        <h5 class="card-title">No Pokemon Found!</h5>
    </div>
</div>
{% endif %}
{% endblock %}