
{% extends 'base.html' %}

{% block content %}
  <img src="{{ url_for('static', filename='pokemon-battle.jpeg')}}" alt="logo" width = "100%"> 
    <h1 class = "homepage-header">Ready to Battle?</h1>
    <h5 class="homepage-text">Capture Pokemon, create a team, and attack others. May the best team win!</h5>
    <hr class="first-line">
    <h2 class="poke-heading">Choose from hundred of Pokemon</h2>
    <div class="row row-cols-1 row-cols-md-4 g-1">
      <div class="col">
        <div class="home-cards card">
          <img src="{{url_for('static', filename='squirtle.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Squirtle</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="home-cards card">
          <img src="{{url_for('static', filename='rattata.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rattata</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="home-cards card">
          <img src="{{url_for('static', filename='charmander.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Charmander</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="home-cards card">
          <img src="{{url_for('static', filename='mew.webp')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mew</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="search-container">
    <a class="poke-search btn btn-warning" href="{{url_for('pokemon.searchpokemon')}}">Search</a>
 {%if not current_user.is_authenticated%}
  </div>
    <div class="button-container">
    <p class="join-header text-center">Join the fun!</p>
    <a class="register-button btn btn-primary" href="{{ url_for('auth.registerPage') }}">Register</a>
    <p class ="acct-header text-center">Already have an account?</p>
    <a class="signin-button btn btn-primary" href="{{ url_for('auth.loginPage') }}">Sign in</a>
  </div>
  {%endif%}
  <!-- how to add a video -->
  <!-- <video
        loop
        muted
        autoplay
        preload="auto"
        style="width: 100%; height: auto; z-index: -1;">
            <source src="{{ url_for('static',filename = 'video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
  </video> -->

{% endblock %}